body {
  margin: 0;
  padding: 0;
  font-family: 'Georgia', serif;
  background-color: #fffaf3;
  color: #2e2e2e;
}

main {
  padding: 2rem;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
