@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.navbar {
    background-color: white;
    padding: 8px;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 99;

    .nav_links {
        color: #2e2e2e;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .links {
        margin-right: 16px;

        .desktopLinks {
            display: flex;
            gap: 2rem;

            @media (max-width: 768px) {
                display: none;
            }
        }

        .hamburger {
            display: none;
            flex-direction: column;
            justify-content: space-between;
            width: 25px;
            height: 20px;
            cursor: pointer;

            span {
                height: 3px;
                background-color: #2e2e2e;
                border-radius: 2px;
            }
        }
    }
    .mobileMenu {
        display: none;
        flex-direction: column;
        gap: 1rem;
        background-color: #e5d4b4;
        padding: 1rem;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        z-index: 999;

        .nav_links {
            color: #2e2e2e;
            text-decoration: none;
            font-weight: bold;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media (max-width: 768px) {
    .navbar {
        justify-content: space-between;
        padding: 8px;

        .links {
            .hamburger {
                display: flex;
            }
            .mobileMenu.show {
                display: flex;
                margin-top: 16px;
                animation: fadeInUp 0.5s ease-in;

                .nav_links {
                    display: block;
                }
            }
        }

        .nav_links {
            display: none;
        }
    }
}
